* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

#ideapad {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
    padding: 20px;

    text-decoration: none;
    user-select: none;
    
    background-color: white;
    color: black;

    text-align: center;

    box-shadow: -2px 2px 5px;
    text-shadow: -1px 1px 5px;
}

#copiarhex {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid black;
    padding: 5px 15px 5px 15px;

    text-decoration: none;
    user-select: none;
    
    background-color: white;
    color: black;

    text-align: center;

    box-shadow: -2px 2px 5px;
    text-shadow: -1px 1px 5px;
}